# Copyright 2023 The Kubernetes Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: test-tejolote-action

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      tejolote: ${{ steps.filter.outputs.tejolote }}

    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            tejolote:
              - 'setup-tejolote/**'
              - '.github/workflows/test-setup-tejolote.yml'

  test_tejolote_action:
    needs: changes
    if: ${{ needs.changes.outputs.tejolote == 'true' }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    permissions: {}
    name: Install tejolote and test presence in path
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Install tejolote
        uses: ./setup-tejolote
      - name: Check install!
        run: tejolote version
      - name: Check root directory
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            echo 'should be clean'
            exit 1
          else
            exit 0
          fi
        shell: bash

  test_tejolote_action_custom_dir_root:
    runs-on: ${{ matrix.os }}
    needs: changes
    if: ${{ needs.changes.outputs.tejolote == 'true' }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    permissions: {}
    name: Install Custom tejolote and test presence in path with custom root dir
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Install tejolote
        uses: ./setup-tejolote
        with:
          install-dir: /usr/bin
          use-sudo: true
      - name: Check install!
        run: tejolote version
      - name: Check install dir!
        run: |
          [[ $(dirname "$(which tejolote)") == /usr/bin ]]
        shell: bash
      - name: Check root directory
        run: |
          [[ -z $(git diff --stat) ]]
        shell: bash

  test_tejolote_action_custom_dir:
    runs-on: ${{ matrix.os }}
    needs: changes
    if: ${{ needs.changes.outputs.tejolote == 'true' }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    permissions: {}
    name: Install Custom path tejolote and test presence in path
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Install tejolote
        uses: ./setup-tejolote
        with:
          install-dir: "$HOME/.tejolotetest"
      - name: Check install!
        run: tejolote version
      - name: Check install dir!
        run: |
          [[ $(dirname "$(which tejolote)") == "$HOME/.tejolotetest" ]]
        shell: bash
      - name: Check root directory
        run: |
          [[ -z $(git diff --stat) ]]
        shell: bash

  test_tejolote_action_wrong:
    runs-on: ${{ matrix.os }}
    needs: changes
    if: ${{ needs.changes.outputs.tejolote == 'true' }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    permissions: {}
    name: Try to install a wrong tejolote
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Install tejolote
        uses: ./setup-tejolote
        with:
          tejolote-release: 'honk'
        continue-on-error: true
